<section class="main-container w-full h-full p-6 flex flex-col gap-8">
    <div class="header flex items-end justify-between">
        <div class="left flex flex-col items-start">
            <span [style.color]="mainTextColor" class="SG-Bold text-2xl">Daniel Glover</span>
            <span class="SG-Regular subtxt">Frontend Developer</span>
        </div>

        <div class="right flex flex-col items-end">
            <a href="#" class="SG-Medium underline subtxt">danielglover.design</a>
            <a href="#" class="SG-Medium underline subtxt">iamglover0&commat;gmail.com</a>
            <span class="SG-Medium subtxt">055 830 8631</span>
        </div>
    </div>


    <div class="main-body flex flex-col gap-6">

        <div class="experience-section flex items-start justify-between">
            <div class="left w-[30%]">
                <span [style.color]="mainTextColor" class="SG-Bold">Experience</span>
            </div>

            <div class="right w-[70%] flex flex-col gap-9">
                <div class="top-right flex items-start justify-between">
                    <div class="header flex flex-col items-start flex-shrink-0">
                        <span [style.color]="mainTextColor" class="SG-Bold">ABC Company</span>
                        <span class="SG-Regular flex-shrink-0">Frontend Developer</span>
                    </div>

                    <span class="SG-Regular flex-shrink-0">Jan 2023 - Present</span>

                </div>
            </div>

        </div>


        <div class="experience-section flex items-start justify-between">
            <div class="left w-[30%]">
                <span [style.color]="mainTextColor" class="SG-Bold flex-shrink-0">Experience</span>
            </div>

            <div class="right w-[70%] flex flex-col gap-3">
                <div class="top-right flex items-start justify-between">
                    <div class="header flex flex-col items-start flex-shrink-0">
                        <span [style.color]="mainTextColor" class="SG-Bold">ABC Company</span>
                        <span class="SG-Regular flex-shrink-0">Frontend Developer</span>
                    </div>

                    <span class="SG-Regular flex-shrink-0">Jan 2023 - Present</span>

                </div>
            </div>

        </div>

    </div>
</section>

