<div class="main-container-navbar w-full bg-[#fff] flex items-center justify-between py-4 px-6 border-b border-border-color">

    <div class="left flex items-center gap-4">
        <img class="w-14" src="/assets/images/logo.png" alt="">
        <span class="Raleway-Bold text-xl text-black">CVGen</span>
    </div>

    <div class="right">

        @if(showButton){
            <button class="bg-blue rounded-lg px-6 py-4 flex items-center gap-3">
                <img src="/assets/icons/document-download.svg" alt="">
                <span class="Raleway-SemiBold text-[#fff]">Download</span>
            </button>
        }

    </div>
</div>