<section class="main w-full h-screen relative grid grid-rows-10 overflow-hidden">

    <div
        class="main-container-navbar w-full bg-[#fff] row-span-1 flex items-center justify-between py-4 px-6 border-b border-border-color">

        <div class="left flex items-center gap-4">
            <img class="w-14" src="/assets/images/logo.png" alt="">
            <span class="Raleway-Bold text-xl text-black">CVGen</span>
        </div>

        <div class="right flex items-center gap-4">


            @if (!auth.user$) {
            <button (click)="login()"
                class="login rounded-lg bg-white border flex-grow border-[#D0D5DD] text-[#344054] py-3 px-6 SF-Medium"
                href="">Login</button>
            }


            <button (click)="generatePDF()" class="bg-blue rounded-lg px-6 py-4 flex items-center gap-3">
                <img src="/assets/icons/document-download.svg" alt="">
                <span class="Raleway-SemiBold text-[#fff]">Download</span>
            </button>

            <div style="background-image: url('{{user.picture}}');" *ngIf="user"
                class="w-12 h-12 rounded-full bg-center bg-cover bg-no-repeat">

            </div>


        </div>
    </div>

    <div class="main-container grid grid-cols-2 w-full row-span-9 h-[-webkit-fill-available]">
        <div class="left border-r grid grid-cols-6 border-[#DEDEDE] overflow-y-auto w-full h-[100%]">

            <div
                class="left-nav sticky col-span-2 top-0 overflow-hidden h-full border-r border-[#DEDEDE] p-2 xl:px-4 flex flex-col items-start justify-between">
                <div class="top flex flex-col items-start">
                    @for (item of steps; track $index) {
                    <div (click)="goToStep($index)"
                        [ngClass]="{ 'step': true, 'active': currentStepIndex === $index, 'inactive': currentStepIndex !== $index }"
                        class="nav-option flex items-center cursor-pointer gap-2 p-3">
                        <img src="{{item.icon}}" alt="">
                        <span class="Raleway-Medium text-[#A9AFB8] text-sm xl:text-base">{{item.name}}</span>
                    </div>
                    }
                </div>

                <div class="bottom flex flex-col items-start">
                    <div (click)="openTemplateDialog()" class="nav-option flex items-center cursor-pointer gap-2 p-3">
                        <img src="/assets/icons/document-text.svg" alt="">
                        <span class="Raleway-Medium text-[#A9AFB8] text-sm xl:text-base">Templates</span>
                    </div>

                    <div class="nav-option flex items-center gap-2 p-3">
                        <img src="/assets/icons/messages-3.svg" alt="">
                        <span class="Raleway-Medium text-[#A9AFB8] text-sm xl:text-base">Feedback</span>
                    </div>
                </div>

            </div>

            <div class="left-content w-full h-full col-span-4 overflow-y-auto">
                @if (currentStepIndex === 0) {
                <app-personal-info-form [formData]="formData" (imageSelected)="onImageSelected($event)"
                    (formDataChange)="handleFormDataChange($event)"
                    (continueClicked)="handleContinueClick($event)"></app-personal-info-form>
                }

                @if (currentStepIndex === 1) {
                <div class="content-area w-full h-full p-4">
                    <app-experience-form [formData]="formData" (continueClicked)="handleContinueClick($event)"
                        (formDataChange)="handleFormDataChange($event)"></app-experience-form>
                </div>
                }

                @if (currentStepIndex === 2) {
                <div class="content-area w-full h-full p-4">
                    <app-education-form [formData]="formData" (continueClicked)="handleContinueClick($event)"
                        (formDataChange)="handleFormDataChange($event)"></app-education-form>
                </div>
                }
            </div>

        </div>

        <div class="right w-full grid overflow-y-auto py-12 lg:px-10 xl:px-20 2xl:px-28 h-[100%]">

            <div id="pdfContent" #pdfContent>
                <ng-container *ngComponentOutlet="selectedTemplate; injector: dynamicComponentInjector() inputs: { formData, selectedImageUrl }"></ng-container>
            </div>
        </div>
    </div>


    @if (isTemplateDialogOpen) {
    <div class="template-dialog w-full h-full absolute top-0 left-0 flex items-center justify-center">
        <div class="layer absolute top-0 left-0 w-full h-full bg-[#00000050] z-40">

        </div>

        <div class="dialog-container w-[90%] 3xl:w-[85%] h-4/5 bg-white rounded-xl relative z-[9999] p-6">
            <img class="absolute right-10 top-6 cursor-pointer" (click)="openTemplateDialog()"
                src="/assets/icons/close.svg" alt="">
            <app-cv-builder [formData]="formData" [experienceFormData]="formData" [educationFormData]="formData"
                [selectedImageUrl]="selectedImageUrl"></app-cv-builder>
        </div>
    </div>
    }


</section>