<section class="main w-full h-screen relative grid grid-rows-10 overflow-hidden">

    <div
        class="main-container-navbar w-full bg-[#fff] row-span-1 flex items-center justify-between py-4 px-6 border-b border-border-color">

        <div class="left flex items-center gap-4">
            <img class="w-14" src="/assets/images/logo.png" alt="">
            <span class="Raleway-Bold text-xl text-black">CVGen</span>
        </div>

        <div class="right flex items-center gap-4">


            @if(auth.user$ | async; as user) {
                <div (click)="openProfileDialog()" style="background-image: url('{{user.picture}}');" class="profile w-12 h-12 rounded-full bg-cover bg-center bg-no-repeat bg-gray-200">

                </div>
            }@else {
                <div routerLink="/login"
                class="login rounded-lg hover:cursor-pointer bg-white border flex-grow border-[#D0D5DD] text-[#344054] py-3 px-6 SF-Medium"
                href="">Login</div>
            }


            <button (click)="downloadPdf()" class="bg-blue rounded-lg px-6 py-4 flex items-center gap-3">
                <img src="/assets/icons/document-download.svg" alt="">
                <span class="Raleway-SemiBold text-[#fff]">Download</span>
            </button>

            <!-- <div style="background-image: url('{{user.picture}}');" *ngIf="user"
                class="w-12 h-12 rounded-full bg-center bg-cover bg-no-repeat">

            </div> -->


        </div>
    </div>

    <div class="main-container grid grid-cols-2 w-full row-span-9 h-[-webkit-fill-available]">
        <div class="left border-r grid grid-cols-6 border-[#DEDEDE] overflow-y-auto w-full h-[100%]">

            <div
                class="left-nav sticky col-span-2 top-0 overflow-hidden h-full border-r border-[#DEDEDE] p-2 xl:px-4 flex flex-col items-start justify-between">
                <div class="top flex flex-col items-start">
                    @for (item of steps; track $index) {
                    <div (click)="goToStep($index)"
                        [ngClass]="{ 'step': true, 'active': currentStepIndex === $index, 'inactive': currentStepIndex !== $index }"
                        class="nav-option flex items-center cursor-pointer gap-2 p-3">
                        <img src="{{item.icon}}" alt="">
                        <span class="Raleway-Medium text-[#A9AFB8] text-sm xl:text-base">{{item.name}}</span>
                    </div>
                    }
                </div>

                <div class="bottom flex flex-col items-start">
                    <div (click)="openTemplateDialog()" class="nav-option flex items-center cursor-pointer gap-2 p-3">
                        <img src="/assets/icons/document-text.svg" alt="">
                        <span class="Raleway-Medium text-[#A9AFB8] text-sm xl:text-base">Templates</span>
                    </div>

                    <div class="nav-option flex items-center gap-2 p-3">
                        <img src="/assets/icons/messages-3.svg" alt="">
                        <span class="Raleway-Medium text-[#A9AFB8] text-sm xl:text-base">Feedback</span>
                    </div>
                </div>

            </div>

            <div class="left-content w-full h-full col-span-4 overflow-y-auto">
                @if (currentStepIndex === 0) {
                <app-personal-info-form></app-personal-info-form>
                }

                @if (currentStepIndex === 1) {
                <div class="content-area w-full h-full p-4">
                    <app-experience-form></app-experience-form>
                </div>
                }

                @if (currentStepIndex === 2) {
                <div class="content-area w-full h-full p-4">
                    <app-education-form></app-education-form>
                </div>
                }
            </div>

        </div>

        <div class="right w-full grid overflow-y-auto py-12 lg:px-10 xl:px-20 2xl:px-28 h-[100%]">

            <div id="print-area" #pdfContent>
                <!-- <ng-container *ngComponentOutlet="selectedTemplate; injector: dynamicComponentInjector() inputs: { formData, selectedImageUrl }"></ng-container> -->
                <!-- <div [innerHTML]="htmlOutput" class="preview"></div> -->
                 <app-resume-preview [templateName]="'modern'" [cvData]="cvData" [textColor]="selectedColor"></app-resume-preview>
            </div>

            @if (!selected_Template) {
                <div class="flex flex-col items-center">
                    <span class="Raleway-SemiBold text-2xl">You have no template selected</span>
                    <span class="Raleway-Regular text-sm">Pick one from our options to get started!</span>
                    <button (click)="openTemplateDialog()" class="bg-blue rounded-lg px-6 py-2 flex items-center gap-3 mt-3">
                        <span class="Raleway-Regular text-[#fff]">Choose Template</span>
                    </button>
                </div>
            }
        </div>
    </div>


    @if (isTemplateDialogOpen) {
    <div class="template-dialog w-full h-full absolute top-0 left-0 flex items-center justify-center">
        <div class="layer absolute top-0 left-0 w-full h-full bg-[#00000050] z-40">

        </div>

        <div class="dialog-container w-[90%] 3xl:w-[85%] h-4/5 bg-white rounded-xl relative z-[9999] p-6">
            <img class="absolute right-10 top-6 cursor-pointer" (click)="openTemplateDialog()"
                src="/assets/icons/close.svg" alt="">
            <app-cv-builder [formData]="formData" [experienceFormData]="formData" [educationFormData]="formData"
                [selectedImageUrl]="selectedImageUrl"></app-cv-builder>
        </div>
    </div>
    }


    @if (isProfileDialogOpen) {
        <div class="template-dialog w-full h-full absolute top-0 left-0 flex items-center justify-center">
            <div (click)="openProfileDialog()" class="layer absolute top-0 left-0 w-full h-full bg-[#00000050] z-40">
    
            </div>
    
            <div class="dialog-container w-[90%] 3xl:w-[85%] overflow-x-hidden h-4/5 bg-white rounded-xl relative z-[9999]">

                <div class="banner-container w-full relative flex items-center justify-center">
                    <div class="banner w-full h-52 bg-blue">

                    </div>

                    <div style="background-image: url({{user?.picture}});" class="profile absolute border-4 border-white bottom-[-2rem] bg-center bg-cover bg-no-repeat w-28 h-28 rounded-full"></div>
                </div>

                <div class="info-container w-full flex flex-col items-center mt-12">
                    <span class="Raleway-SemiBold text-3xl">{{user?.name}}</span>
                    <span class="Inter-Regular text-sm">{{user?.email}}</span>

                </div>

                <div class="content-container w-full py-6 px-12 flex flex-col items-start gap-6">
                    <span class="Raleway-Medium text-xl">My Collection</span>
                </div>
                
            </div>
        </div>
    }


</section>