


<section class="main-container w-full h-full p-6 flex flex-col gap-8">
    <div class="header flex items-end justify-between">
        <div class="left flex flex-col items-start">
            <span [style.color]="mainTextColor" class="SG-Bold text-xl">Daniel Glover</span>
            <span class="SG-Regular subtxt text-sm">Frontend Developer</span>
        </div>

        <div class="right flex flex-col items-end">
            <a href="#" class="SG-Medium underline subtxt text-xs">danielglover.design</a>
            <a href="#" class="SG-Medium underline subtxt text-xs">iamglover0&commat;gmail.com</a>
            <span class="SG-Medium subtxt text-xs">055 830 8631</span>
        </div>
    </div>


    <div class="main-body flex flex-col gap-6">

        <div class="experience-section flex items-start justify-between">
            <div class="left w-[30%]">
                <span [style.color]="mainTextColor" class="SG-Bold text-sm">Experience</span>
            </div>

            <div class="right w-[70%] flex flex-col gap-4">
                <div class="top-right flex items-start justify-between">
                    <div class="header flex flex-col items-start flex-shrink-0">
                        <span [style.color]="mainTextColor" class="SG-Bold text-sm">ABC Company</span>
                        <span class="SG-Regular flex-shrink-0 text-xs">Frontend Developer</span>
                    </div>

                    <span class="SG-Regular flex-shrink-0 text-xs">Jan 2023 - Present</span>

                </div>

                <div class="bottom-right list-none relative flex flex-col items-start gap-1">
                    <li class="SG-Regular pl-3 flex-shrink-0 text-xs text-left">Conducted user research and analyzed data to identify design opportunities and inform design decisions</li>
                    <li class="SG-Regular pl-3 flex-shrink-0 text-xs text-left">Collaborated with cross-functional teams to create wireframes, prototypes, and high-fidelity mockups</li>
                    <li class="SG-Regular pl-3 flex-shrink-0 text-xs text-left">Facilitated design reviews and user testing sessions to gather feedback and improve design solutions</li>
                </div>
            </div>

        </div>


        <div class="education-section flex items-start justify-between">
            <div class="left w-[30%]">
                <span [style.color]="mainTextColor" class="SG-Bold text-sm">Education</span>
            </div>

            <div class="right w-[70%] flex flex-col gap-4">
                <div class="top-right flex items-start justify-between">
                    <div class="header flex flex-col items-start flex-shrink-0">
                        <span [style.color]="mainTextColor" class="SG-Bold text-sm">School of Design</span>
                        <span class="SG-Regular flex-shrink-0 text-xs">UX Design Bootcamp</span>
                    </div>

                    <span class="SG-Regular flex-shrink-0 text-xs">Jan 2023 - Present</span>

                </div>

                <div class="bottom-right list-none relative flex flex-col items-start gap-1">
                    <li class="SG-Regular pl-3 flex-shrink-0 text-xs text-left">Intensive, full-time program that provided hands-on training in user-centered design, prototyping, and visual design</li>
                    <li class="SG-Regular pl-3 flex-shrink-0 text-xs text-left">Completed several design projects, including designing a mobile app for mental health, a website for a local non-profit, and an e-commerce platform for a start-up</li>
                </div>
            </div>

        </div>

        <div class="education-section flex items-start justify-between">
            <div class="left w-[30%]">
                <span [style.color]="mainTextColor" class="SG-Bold text-sm">Education</span>
            </div>

            <div class="right w-[70%] flex flex-col gap-4">
                <div class="top-right flex items-start justify-between">
                    <div class="header flex flex-col items-start flex-shrink-0">
                        <span [style.color]="mainTextColor" class="SG-Bold text-sm">XYZ Project</span>
                        <span class="SG-Regular flex-shrink-0 text-xs">Freelance Designer</span>
                    </div>

                    <span class="SG-Regular flex-shrink-0 text-xs">Jan 2023 - Present</span>

                </div>

                <div class="bottom-right list-none relative flex flex-col items-start gap-1">
                    <li class="SG-Regular pl-3 flex-shrink-0 text-xs text-left">Designed wireframes, prototypes, and visual designs for mobile and web-based products</li>
                    <li class="SG-Regular pl-3 flex-shrink-0 text-xs text-left">Conducted usability testing and iterated on design solutions based on user feedback</li>
                    <li class="SG-Regular pl-3 flex-shrink-0 text-xs text-left">Collaborated with developers  to ensure that designs were accurately implemented and met accessibility standards</li>

                </div>
            </div>

        </div>

        <div class="education-section flex items-start justify-between">
            <div class="left w-[30%]">
                <span [style.color]="mainTextColor" class="SG-Bold text-sm">Skills & Tools</span>
            </div>

            <div class="right w-[70%] flex flex-col gap-4">
                <div class="top-right flex items-start justify-between">
                    <div class="header flex flex-col items-start flex-wrap">
                        <span [style.color]="mainTextColor" class="SG-Bold text-sm">Skills</span>
                        <span class="SG-Regular flex-shrink-0 text-xs">User Research, Interaction Design, Visual Design, Communication and Collaboration, User Testing, Adaptability, Continuous Learning</span>
                    </div>

                </div>

                <div class="top-right flex items-start justify-between">
                    <div class="header flex flex-col items-start flex-wrap">
                        <span [style.color]="mainTextColor" class="SG-Bold text-sm">Tools</span>
                        <span class="SG-Regular flex-shrink-0 text-xs">Sketch, Figma, Figjam  , Adobe Creative Suite  , InVision, Axure, Marvel App, Balsamiq, Webflow, UserTesting</span>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

