<form [formGroup]="educationForm" class="content-area w-full h-full flex flex-col gap-6 items-start p-6">
    <div class="header flex flex-col items-start gap-1">
        <span class="Raleway-Medium lg:text-lg xl:text-xl text-main-txt-color">Education</span>
        <span class="Inter-Regular text-xs xl:text-sm text-sub-txt-color">Continue by filling information about your
            most recent job, as well as past ones. You can add as much experiences as you want</span>
    </div>


    <div class="w-full flex flex-col gap-6 pb-6">
       


    </div>



    <div class="button-group flex items-center gap-4 w-full pb-12">
        <!-- <div class="flex items-center gap-4 w-full">
            <button disabled
            class="reset-password-btn rounded-lg bg-white border flex-grow border-[#D0D5DD] text-[#344054] py-3 px-6 SF-Medium"
            href="">Cancel</button>

            <button (click)="saveForm()"
            class="logout-btn rounded-lg bg-[#EDF6FF] border flex-grow border-[#EDF6FF] text-blue py-3 px-6 SF-Medium"
            href="">Save & Continue</button>
        </div> -->

    </div>
</form>