<section class="main-container print_area w-full h-fit p-6 flex flex-col gap-8">
    <div class="header flex items-end justify-between">
        <div class="left flex flex-col items-start">
            <span [style.color]="textColor" class="SG-Bold text-xl">{{formData.firstname}} {{formData.lastname}}</span>
            <span class="SG-Regular subtxt text-sm">{{formData.jobTitle}}</span>
        </div>


        <div class="right flex flex-col items-end">
            <a href="{{formData.website}}" class="SG-Medium text-[#646C86] underline subtxt text-[10px]">{{formData.website}}</a>

            @if (formData.linkedIn) {
                <a href="{{formData.linkedIn}}" class="SG-Medium text-[#646C86] underline subtxt text-[10px]">linkedin.com</a>
            }

            @if (formData.github) {
                <a href="{{formData.github}}" class="SG-Medium text-[#646C86] underline subtxt text-[10px]">github.com</a>
            }

            <a href="{{formData.email}}" class="SG-Medium text-[#646C86] underline subtxt text-[10px]">{{formData.email}}</a>
            <span class="SG-Medium subtxt text-[#646C86] text-[10px]">{{formData.phone}}</span>
        </div>
    </div>


    <div class="main-body flex flex-col gap-6">

        @if (formData.experiences) {
            <div class="experience-section flex items-start justify-between">
                <div class="left w-[30%]">
                    <span [style.color]="textColor" class="SG-Bold text-sm">Experience</span>
                </div>
    
                <div class="right w-[70%] flex flex-col gap-8">
                    @for (item of formData.experiences; track $index) {
                        <div class="w-full flex flex-col gap-4">
                            <div class="top-right flex items-start justify-between">
                                @if (item.jobTitle || item.company) {
                                    <div class="header w-[60%] flex-wrap flex flex-col items-start flex-shrink-0">
                                        <span [style.color]="textColor" class="SG-Bold text-sm">{{item.company}}</span>
                                        <span class="SG-Regular flex-shrink-0 text-[10px]">{{item.jobTitle}}</span>
                                        @if (item.type) {
                                            <span class="SG-Regular text-[#646C86] text-[10px]">{{item.type}}</span>
                                        }
                                    </div>
                                }
                               
            
                                <div class="header flex flex-col items-end flex-shrink-0">
                                    @if (item.startDate || item.endDate || item.type) {
                                        <span class="SG-Regular flex-shrink-0 text-[10px]">{{item.startDate}} - {{item.endDate}}</span>
                                    }
                                </div>

            
                            </div>
            
                            @if (item.points.length > 0) {
                                <div class="bottom-right list-none relative flex flex-col items-start gap-1">
    
                                    <!-- Points -->
                                    @for (points of item.points; track $index) {
                                        <li class="SG-Regular pl-3 flex flex-shrink-0 flex-wrap text-[10px] text-left">{{points}}</li>
                                    }
                                
                                </div>
                            }
                            
                        </div>
                    }
                </div>
  
    
            </div>
        }
        


        @if (formData.education) {
            <div class="education-section flex items-start justify-between">
                <div class="left w-[30%]">
                    <span [style.color]="textColor" class="SG-Bold text-sm">Education</span>
                </div>

                <div class="right w-[70%] flex flex-col gap-8">
                    @for (item of formData.education; track $index) {
                        <div class="w-full flex flex-col gap-4">
                            <div class="top-right flex items-start justify-between">
                                <div class="header w-[60%] flex-wrap flex flex-col items-start flex-shrink-0">
                                    <span [style.color]="textColor" class="SG-Bold text-sm">{{item.institution}}</span>
                                    <span class="SG-Regular flex-shrink-0 text-[10px]">{{item.certification}}, {{item.fieldOfStudy}}</span>
                                </div>
            
                                <span class="SG-Regular flex-shrink-0 text-[10px]">{{item.startDate}} - {{item.endDate}}</span>
            
                            </div>
            
                            <!-- <div class="bottom-right list-none relative flex flex-col items-start gap-1">
                                <li class="SG-Regular pl-3 flex-shrink-0 text-[10px] text-left">Intensive, full-time program that provided hands-on training in user-centered design, prototyping, and visual design</li>
                                <li class="SG-Regular pl-3 flex-shrink-0 text-[10px] text-left">Completed several design projects, including designing a mobile app for mental health, a website for a local non-profit, and an e-commerce platform for a start-up</li>
                            </div> -->
                        </div>
                    }
                </div>
                
    
            </div>
        }

        @if (formData.skills) {
            <div class="education-section flex items-start justify-between">
                <div class="left w-[30%]">
                    <span [style.color]="textColor" class="SG-Bold text-sm">Skills & Tools</span>
                </div>
    
                <div class="right w-[70%] flex flex-col gap-4">
                    <div class="top-right flex items-start justify-between">
                        <div class="header flex flex-col items-start flex-wrap">
                            <span [style.color]="textColor" class="SG-Bold text-sm">Skills</span>
                            <!-- <span class="SG-Regular flex-shrink-0 text-[10px]">User Research, Interaction Design, Visual Design, Communication and Collaboration, User Testing, Adaptability, Continuous Learning</span> -->
                            @if (formData.skills) {
                                <span class="SG-Regular flex-shrink-0 text-[10px]">{{skillsAsString}}</span>
                            }
                        </div>
    
                    </div>
    
                    <!-- <div class="top-right flex items-start justify-between">
                        <div class="header flex flex-col items-start flex-wrap">
                            <span [style.color]="textColor" class="SG-Bold text-sm">Tools</span>
                            <span class="SG-Regular flex-shrink-0 text-[10px]">Sketch, Figma, Figjam  , Adobe Creative Suite  , InVision, Axure, Marvel App, Balsamiq, Webflow, UserTesting</span>
                        </div>
    
                    </div> -->
                </div>
    
            </div>
        }
        

    </div>
</section>

