// .main-container{
//     box-shadow: 0px 6.4px 8.54px -2.13px rgba(16,24,40,0.08), 0px 2.13px 3.2px -1.07px rgba(16,24,40,0.03);
// }

li::before {
    content: "\2022"; /* Unicode character for bullet point */
    color: #333; /* Color of the bullet point */
    font-size: 14px; /* Size of the bullet point */
    position: absolute; /* Positioning the bullet point */
    left: -2.5px; /* Adjusting the position to align it outside of the text space */
  }