@if (message || header) {
    <div class="toast flex shadow-lg flex-row items-center justify-between rounded-lg fixed top-4 z-[10000] lg:top-auto lg:bottom-8 lg:gap-20 lg:right-8 right-4 w-[90%] lg:w-fit bg-white px-5 py-5 border border-border">
        <div class="flex flex-col items-start">

            @if (header) {
                <span class="Raleway-Bold text-sm text-main-black lg:text-base flex flex-shrink-0">{{ header }}</span>
            }

            @if (message) {
                <span class="Raleway-Regular text-sm text-regular-txt flex flex-shrink-0">{{ message }}</span>
            }
        </div>

        <!-- <button>Undo</button> -->
        
    </div>
}